//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
//default font
$fontfamily: "Lato";

//variables
$minwidth: 320px;

//zeroing
@import "null.scss";

//main greed
.container {
  max-width: 1130px; //wurina container 1100, no delaem 1130 4tob ne udaryalsya o kraya pri sygenii i ubiraem paddingom srazy
  padding: 0 15px;
}

//obolo4ka
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

//podklyu4enie vsyakoi hreni))
@import "ul.scss";
@import "header.scss";

//osnovnoi blok
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

